@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Welcome to the: </p>
    <h1>Task Manager Application</h1>
 </div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Users/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <p><a class="btn btn-default" href="/Users/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <p><a class="btn btn-default" href="/Tasks/Search">Search &raquo;</a></p>
    </div>
</div>